# {{ ansible_managed }}
[mysqld]
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[client]
default-character-set={{ cinux_mariadb_character_set }}

[mysql]
default-character-set={{ cinux_mariadb_character_set }}

!includedir /etc/my.cnf.d

