# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#

# this is read by the standalone daemon and embedded servers
[server]

# this is only for the mysqld standalone daemon
[mysqld]
# Network
# Default = local binding to prevent unknown security vectors
port={{ cinux_mariadb_port }}
bind-address={{ cinux_mariadb_bind_address }}

# Directories
datadir={{ cinux_mariadb_datadir }}
socket={{ cinux_mariadb_socket }}

# Symbolic links
# Default = 0 to prevent assorted security risks
symbolic-links={{ cinux_mariadb_symbolic_links }}

# Character Sets
character-set-server={{ cinux_mariadb_character_set }}

# InnoDB Settings
innodb_large_prefix={{ cinux_mariadb_innodb_large_prefix }}
innodb_file_format={{ cinux_mariadb_innodb_file_format }}
innodb_file_per_table={{ cinux_mariadb_innodb_file_per_table }}
innodb_buffer_pool_size={{ cinux_mariadb_innodb_buffer_pool_size }}

# Query Cache
query_cache_type={{ cinux_mariadb_query_cache_type }}
query_cache_limit={{ cinux_mariadb_query_cache_limit }}
query_cache_min_res_unit={{ cinux_mariadb_query_cache_min_res_unit }}
query_cache_size={{ cinux_mariadb_query_cache_size }}

# this is only for embedded server
[embedded]

# this is only for MariaDB servers, not for MySQL
[mariadb]
